@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  background: rgba(14, 12, 21, 1);
  font-family: "IBM Plex Sans", sans-serif;
  box-sizing: border-box;
}

.container {
  color: white;
  height: 100svh;
  width: 98%;
  margin: 1%;
  background: rgba(18, 24, 37, 1);
  border-radius: 17px;
}

.container hr {
  width: 100wh;
  height: 0%;
  border: 1px solid rgba(34, 43, 68, 0.5);
}

.container h1 {
  height: 100px;
  background-color: transparent;
  font-weight: 600;
}

.container div {
  background-color: transparent;
}
